.bluemapmobs-marker {
    --icon-width: 24px;
    --icon-height: 24px;
    --white: #F9FFFE;
    --light-gray: #9D9D97;
    --gray: #474F52;
    --black: #1D1D21;
    --brown: #835432;
    --red: #B02E26;
    --orange: #F9801D;
    --yellow: #FED83D;
    --lime: #80C71F;
    --green: #5E7C16;
    --cyan: #169C9C;
    --light-blue: #3AB3DA;
    --blue: #3C44AA;
    --purple: #8932B8;
    --magenta: #C74EBD;
    --pink: #F38BAA;
}

#map-container .bluemapmobs-marker img {
    width: var(--icon-width);
    height: var(--icon-height);
    image-rendering: pixelated;
}

#map-container .bluemapmobs-llama img {
    background-size: cover;
}

#map-container .bluemapmobs-creamy-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/creamy_llama.png");
}

#map-container .bluemapmobs-white-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/white_llama.png");
}

#map-container .bluemapmobs-gray-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/gray_llama.png");
}

#map-container .bluemapmobs-brown-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/brown_llama.png");
}

#map-container .bluemapmobs-sheep img {
    background: linear-gradient(var(--sheep-color), var(--sheep-color)) calc(var(--icon-width) * 0.0625) calc(var(--icon-height) * 0.0625) / calc(var(--icon-width) * 0.875) calc(var(--icon-height) * 0.875) no-repeat,
                url("../img/mobs/creature/animals/sheep/sheep_fur.png") 0 0 / var(--icon-width) var(--icon-height) no-repeat;
    background-blend-mode: multiply;
}

#map-container .bluemapmobs-white-sheep img {
    --sheep-color: var(--white);
}

#map-container .bluemapmobs-lightgray-sheep img {
    --sheep-color: var(--light-gray);
}

#map-container .bluemapmobs-gray-sheep img {
    --sheep-color: var(--gray);
}

#map-container .bluemapmobs-black-sheep img {
    --sheep-color: var(--black);
}

#map-container .bluemapmobs-brown-sheep img {
    --sheep-color: var(--brown);
}

#map-container .bluemapmobs-red-sheep img {
    --sheep-color: var(--red);
}

#map-container .bluemapmobs-orange-sheep img {
    --sheep-color: var(--orange);
}

#map-container .bluemapmobs-yellow-sheep img {
    --sheep-color: var(--yellow);
}

#map-container .bluemapmobs-lime-sheep img {
    --sheep-color: var(--lime);
}

#map-container .bluemapmobs-green-sheep img {
    --sheep-color: var(--green);
}

#map-container .bluemapmobs-cyan-sheep img {
    --sheep-color: var(--cyan);
}

#map-container .bluemapmobs-lightblue-sheep img {
    --sheep-color: var(--light-blue);
}

#map-container .bluemapmobs-blue-sheep img {
    --sheep-color: var(--blue);
}

#map-container .bluemapmobs-purple-sheep img {
    --sheep-color: var(--purple);
}

#map-container .bluemapmobs-magenta-sheep img {
    --sheep-color: var(--magenta);
}

#map-container .bluemapmobs-pink-sheep img {
    --sheep-color: var(--pink);
}

#map-container .bluemapmobs-horse img {
    background-size: cover;
}

#map-container .bluemapmobs-white-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_white.png");
}

#map-container .bluemapmobs-creamy-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_creamy.png");
}

#map-container .bluemapmobs-chestnut-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_chestnut.png");
}

#map-container .bluemapmobs-brown-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_brown.png");
}

#map-container .bluemapmobs-black-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_black.png");
}

#map-container .bluemapmobs-gray-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_gray.png");
}

#map-container .bluemapmobs-dark-brown-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_dark_brown.png");
}