.bluemapmobs-marker {
    --icon-width: 24px;
    --icon-height: 24px;
}

#map-container .bluemapmobs-marker img {
    width: var(--icon-width);
    height: var(--icon-height);
    image-rendering: pixelated;
}

#map-container .bluemapmobs-llama img,
#map-container .bluemapmobs-sheep img,
#map-container .bluemapmobs-horse img,
#map-container .bluemapmobs-tropical-fish img {
    background-size: cover;
}

#map-container .bluemapmobs-creamy-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/creamy_llama.png");
}

#map-container .bluemapmobs-white-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/white_llama.png");
}

#map-container .bluemapmobs-gray-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/gray_llama.png");
}

#map-container .bluemapmobs-brown-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/brown_llama.png");
}

#map-container .bluemapmobs-white-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_white.png");
}

#map-container .bluemapmobs-lightgray-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_light_gray.png");
}

#map-container .bluemapmobs-gray-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_gray.png");
}

#map-container .bluemapmobs-black-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_black.png");
}

#map-container .bluemapmobs-brown-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_brown.png");
}

#map-container .bluemapmobs-red-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_red.png");
}

#map-container .bluemapmobs-orange-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_orange.png");
}

#map-container .bluemapmobs-yellow-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_yellow.png");
}

#map-container .bluemapmobs-lime-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_lime.png");
}

#map-container .bluemapmobs-green-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_green.png");
}

#map-container .bluemapmobs-cyan-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_cyan.png");
}

#map-container .bluemapmobs-lightblue-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_light_blue.png");
}

#map-container .bluemapmobs-blue-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_blue.png");
}

#map-container .bluemapmobs-purple-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_purple.png");
}

#map-container .bluemapmobs-magenta-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_magenta.png");
}

#map-container .bluemapmobs-pink-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_pink.png");
}

@keyframes rainbow-sheep {
    0% {
        backdrop-filter: hue-rotate(0deg);
    }
    100% {
        backdrop-filter: hue-rotate(360deg);
    }
}

#map-container .bluemapmobs-jeb-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_red.png");
    animation: rainbow-sheep 10s infinite;
}

#map-container .bluemapmobs-white-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_white.png");
}

#map-container .bluemapmobs-creamy-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_creamy.png");
}

#map-container .bluemapmobs-chestnut-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_chestnut.png");
}

#map-container .bluemapmobs-brown-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_brown.png");
}

#map-container .bluemapmobs-black-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_black.png");
}

#map-container .bluemapmobs-gray-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_gray.png");
}

#map-container .bluemapmobs-dark-brown-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_darkbrown.png");
}

#map-container .bluemapmobs-tropical-fish-a-black img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_black.png");
}

#map-container .bluemapmobs-tropical-fish-a-blue img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_blue.png");
}

#map-container .bluemapmobs-tropical-fish-a-brown img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_brown.png");
}

#map-container .bluemapmobs-tropical-fish-a-cyan img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_cyan.png");
}

#map-container .bluemapmobs-tropical-fish-a-gray img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_gray.png");
}

#map-container .bluemapmobs-tropical-fish-a-green img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_green.png");
}

#map-container .bluemapmobs-tropical-fish-a-light-blue img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_light_blue.png");
}

#map-container .bluemapmobs-tropical-fish-a-light-gray img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_light_gray.png");
}

#map-container .bluemapmobs-tropical-fish-a-lime img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_lime.png");
}

#map-container .bluemapmobs-tropical-fish-a-magenta img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_magenta.png");
}

#map-container .bluemapmobs-tropical-fish-a-orange img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_orange.png");
}

#map-container .bluemapmobs-tropical-fish-a-pink img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_pink.png");
}

#map-container .bluemapmobs-tropical-fish-a-purple img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_purple.png");
}

#map-container .bluemapmobs-tropical-fish-a-red img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_red.png");
}

#map-container .bluemapmobs-tropical-fish-a-white img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_white.png");
}

#map-container .bluemapmobs-tropical-fish-a-yellow img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_a_yellow.png");
}

#map-container .bluemapmobs-tropical-fish-b-black img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_black.png");
}

#map-container .bluemapmobs-tropical-fish-b-blue img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_blue.png");
}

#map-container .bluemapmobs-tropical-fish-b-brown img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_brown.png");
}

#map-container .bluemapmobs-tropical-fish-b-cyan img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_cyan.png");
}

#map-container .bluemapmobs-tropical-fish-b-gray img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_gray.png");
}

#map-container .bluemapmobs-tropical-fish-b-green img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_green.png");
}

#map-container .bluemapmobs-tropical-fish-b-light-blue img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_light_blue.png");
}

#map-container .bluemapmobs-tropical-fish-b-light-gray img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_light_gray.png");
}

#map-container .bluemapmobs-tropical-fish-b-lime img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_lime.png");
}

#map-container .bluemapmobs-tropical-fish-b-magenta img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_magenta.png");
}

#map-container .bluemapmobs-tropical-fish-b-orange img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_orange.png");
}

#map-container .bluemapmobs-tropical-fish-b-pink img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_pink.png");
}

#map-container .bluemapmobs-tropical-fish-b-purple img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_purple.png");
}

#map-container .bluemapmobs-tropical-fish-b-red img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_red.png");
}

#map-container .bluemapmobs-tropical-fish-b-white img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_white.png");
}

#map-container .bluemapmobs-tropical-fish-b-yellow img {
    background-image: url("../img/mobs/creature/watermob/fish/tropical_fish/tropical_fish_b_yellow.png");
}