.bluemapmobs-marker {
    --icon-width: 24px;
    --icon-height: 24px;
}

#map-container .bluemapmobs-marker img {
    width: var(--icon-width);
    height: var(--icon-height);
    image-rendering: pixelated;
}

#map-container .bluemapmobs-llama img {
    background-size: cover;
}

#map-container .bluemapmobs-creamy-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/creamy_llama.png");
}

#map-container .bluemapmobs-white-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/white_llama.png");
}

#map-container .bluemapmobs-gray-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/gray_llama.png");
}

#map-container .bluemapmobs-brown-llama img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/chestedhorse/llama/brown_llama.png");
}

#map-container .bluemapmobs-sheep img {
    background-size: cover;
}

#map-container .bluemapmobs-white-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_white.png");
}

#map-container .bluemapmobs-lightgray-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_light_gray.png");
}

#map-container .bluemapmobs-gray-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_gray.png");
}

#map-container .bluemapmobs-black-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_black.png");
}

#map-container .bluemapmobs-brown-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_brown.png");
}

#map-container .bluemapmobs-red-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_red.png");
}

#map-container .bluemapmobs-orange-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_orange.png");
}

#map-container .bluemapmobs-yellow-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_yellow.png");
}

#map-container .bluemapmobs-lime-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_lime.png");
}

#map-container .bluemapmobs-green-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_green.png");
}

#map-container .bluemapmobs-cyan-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_cyan.png");
}

#map-container .bluemapmobs-lightblue-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_light_blue.png");
}

#map-container .bluemapmobs-blue-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_blue.png");
}

#map-container .bluemapmobs-purple-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_purple.png");
}

#map-container .bluemapmobs-magenta-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_magenta.png");
}

#map-container .bluemapmobs-pink-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_pink.png");
}

@keyframes rainbow-sheep {
    0% {
        backdrop-filter: hue-rotate(0deg);
    }
    100% {
        backdrop-filter: hue-rotate(360deg);
    }
}

#map-container .bluemapmobs-jeb-sheep img {
    background-image: url("../img/mobs/creature/animals/sheep/sheep_fur_red.png");
    animation: rainbow-sheep 10s infinite;
}

#map-container .bluemapmobs-horse img {
    background-size: cover;
}

#map-container .bluemapmobs-white-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_white.png");
}

#map-container .bluemapmobs-creamy-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_creamy.png");
}

#map-container .bluemapmobs-chestnut-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_chestnut.png");
}

#map-container .bluemapmobs-brown-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_brown.png");
}

#map-container .bluemapmobs-black-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_black.png");
}

#map-container .bluemapmobs-gray-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_gray.png");
}

#map-container .bluemapmobs-dark-brown-horse img {
    background-image: url("../img/mobs/creature/animals/abstracthorse/horse/horse_darkbrown.png");
}